.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.center {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Rubik", sans-serif;
}

*:focus {
  outline: none;
}

.firstHeader {
  background: #1b0522;
}

.firstHeader .upperHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
}

.firstHeader .upperHeader p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 13px;
  margin-right: 20px;
  margin-bottom: 13px;
}

.firstHeader .upperHeader .input-field {
  display: inline-block;
  vertical-align: middle;
}

.firstHeader .upperHeader .input-field select {
  border: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: #1b0522;
  color: #ffffff;
  margin-top: 15px;
  margin-left: 56px;
}

.firstHeader .upperHeader .input-field select option {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.mainBack {
  background: url(../images/page1/Vector.png) left bottom, url(../images/page1/Vector_right.png) right bottom, -webkit-gradient(linear, left top, left bottom, from(#2a1133), to(#381a42));
  background: url(../images/page1/Vector.png) left bottom, url(../images/page1/Vector_right.png) right bottom, linear-gradient(180deg, #2a1133 0%, #381a42 100%);
  text-align: center;
  position: relative;
  background-size: 20%, 20%, cover;
  background-repeat: no-repeat;
}

.mainBack .infoHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  margin-bottom: 20px;
}

.mainBack .infoHeader .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainBack .infoHeader .address a {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 43px;
  text-decoration: none;
}

.mainBack .infoHeader .address a img {
  margin-right: 20px;
  width: 60px;
  height: 60px;
}

.mainBack .infoHeader .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.mainBack .infoHeader .register p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-right: 20px;
  margin-top: 48px;
}

.mainBack .infoHeader .register a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  padding: 11px 36px;
  border-radius: 500px;
  border: 1px solid #ee0979;
  margin-top: 37px;
}

.mainBack .mainContent {
  text-align: center;
}

.mainBack .mainContent .first-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 150%;
  color: #ffffff;
  text-align: center;
  margin-top: calc((100vh - 50px - 30px - 60px - 90px - 10px - 48px - 50px - 271px - 51px - 46px) / 2);
  margin-bottom: 10px;
}

.mainBack .mainContent .below-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  max-width: 846px;
  margin: 0 auto 50px;
  text-align: center;
  min-width: 295px;
}

.mainBack .login_form {
  text-align: center;
}

.mainBack .login_form .enter-email input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8b5d9a;
  padding: 23px 89px 23px 70px;
  width: 100%;
  /*  background-image: url(images/page1/message.png); 
                background-repeat: no-repeat; */
  background: #42204e;
  border-radius: 500px;
  max-width: 380px;
  min-width: 295px;
  border: none;
  margin-bottom: 10px;
}

.mainBack .login_form .enter-password {
  margin-bottom: 20px;
}

.mainBack .login_form .enter-password input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8b5d9a;
  padding: 23px 89px 23px 70px;
  width: 100%;
  /*  background-image: url(images/page1/message.png); 
                    background-repeat: no-repeat; */
  background: #42204e;
  border-radius: 500px;
  max-width: 380px;
  min-width: 295px;
  border: none;
  margin-bottom: 10px;
}

.mainBack .login_form .enter-btn {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  padding: 23px 165px 23px 165px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  -webkit-box-shadow: 0px 20px 30px rgba(179, 34, 31, 0.2);
          box-shadow: 0px 20px 30px rgba(179, 34, 31, 0.2);
  border-radius: 500px;
  max-width: 380px;
  min-width: 295px;
  border: none;
}

.mainBack .dontRememberPassword {
  margin-top: 43px;
  margin-bottom: calc((100vh - 50px - 30px - 60px - 90px - 10px - 48px - 50px - 271px - 51px - 46px) / 2);
}

.mainBack .dontRememberPassword .btn-forgot-password {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #925fa4;
  text-decoration: none;
  text-align: center;
}

.mainBack footer .footer-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 2fr 4fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 2fr 4fr 1fr 2fr;
  justify-items: start;
  padding-bottom: 30px;
  padding-left: 0;
  /* margin-top: 20px; */
  margin-bottom: 0;
}

.mainBack footer .footer-info li {
  list-style-type: none;
}

.mainBack footer .footer-info li a {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #eeeeee;
  text-decoration: none;
  text-align: center;
}

.mainBack footer .footer-info li p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #eeeeee;
}

.mainBack footer .footer-info li:last-child {
  -ms-grid-column-align: end;
      justify-self: end;
}

.mainBack footer .footer-info li:nth-child(7) {
  -ms-grid-column-align: center;
      justify-self: center;
}

.modal_hide {
  display: none;
  top: 150px;
}

.modal_open {
  display: block;
  top: 150px;
}

#modal-forgot-password {
  height: 70%;
}

.changePasswordPage {
  padding-top: 50px;
  background: #1c0a22;
  text-align: center;
  padding-bottom: 70px;
  max-width: 680px;
  min-width: 295px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
}

.changePasswordPage .row .commonCol #modal-forgot-password .contentModal h2 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

.changePasswordPage .row .commonCol #modal-forgot-password .contentModal p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6e447b;
  text-align: center;
}

.changePasswordPage .row .commonCol #modal-forgot-password #modal_change_pas .email-new-pswrd input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8b5d9a;
  padding: 23px 89px 23px 70px;
  width: 100%;
  background: #42204e;
  border-radius: 500px;
  max-width: 380px;
  min-width: 270px;
  border: none;
  margin-bottom: 30px;
}

.changePasswordPage .row .commonCol #modal-forgot-password #modal_change_pas .ask_new_pswrd .send-btn {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  padding: 23px 90px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  -webkit-box-shadow: 0px 20px 30px rgba(179, 34, 31, 0.2);
          box-shadow: 0px 20px 30px rgba(179, 34, 31, 0.2);
  border-radius: 500px;
  max-width: 380px;
  min-width: 270px;
  border: none;
  margin-bottom: 50px;
  text-decoration: none;
}

.add-opacity {
  background: #1d0b23;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@media screen and (max-width: 1439.98px) {
  .center {
    width: 90%;
    margin: 0 auto;
  }
  .mainBack {
    background: url(../images/page1/Vector.png) left -153px top 29px, url(../images/page1/Vector_right.png) right -160px center, -webkit-gradient(linear, left top, left bottom, from(#2a1133), to(#381a42));
    background: url(../images/page1/Vector.png) left -153px top 29px, url(../images/page1/Vector_right.png) right -160px center, linear-gradient(180deg, #2a1133 0%, #381a42 100%);
    background-size: 30%, 30%, cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1199.98px) {
  .mainBack footer .footer-info {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 0;
  }
  .mainBack footer .footer-info li:nth-child(5) {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .mainBack footer .footer-info li:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mainBack footer .footer-info li:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 10px;
  }
  .mainBack footer .footer-info li:nth-child(8) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .mainBack footer .footer-info li:nth-child(3) {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .mainBack footer .footer-info li:nth-child(4) {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .mainBack footer .footer-info li a {
    font-size: 12px;
  }
  .mainBack footer .footer-info li p {
    font-size: 12px;
  }
  .mainBack .mainContent .first-text {
    margin-top: 30px;
  }
  .mainBack .dontRememberPassword {
    margin-bottom: 30px;
  }
  .mainBack .mainContent .first-text {
    font-size: 36px;
  }
  .mainBack .mainContent .below-text {
    margin: 0 auto 30px;
  }
  .mainBack .mainContent {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991.98px) {
  .changePasswordPage {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767.98px) {
  .firstHeader {
    display: none;
  }
  .mainBack .mainContent {
    max-width: 345px;
    width: 100%;
    margin: 0 auto;
  }
  .mainBack .infoHeader {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mainBack .infoHeader .address {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainBack .infoHeader .register {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainBack .infoHeader .address a {
    margin-top: 33px;
  }
  .mainBack .infoHeader .register p {
    margin-right: 0px;
    margin-top: 30px;
  }
  .mainBac .login_form {
    max-width: 345px;
    width: 100%;
    margin: 0 auto;
  }
  .mainBack .login_form .enter-email input {
    padding: 23px 54px 23px 70px;
    max-width: 345px;
  }
  .mainBack .login_form .enter-password input {
    padding: 23px 148px 23px 70px;
    max-width: 345px;
  }
  .mainBack .login_form .enter-btn {
    padding: 23px 148px;
    max-width: 345px;
  }
  .mainBack footer .footer-info {
    padding-left: 0px;
    -ms-grid-columns: 2fr 3fr 2fr 3fr 4fr;
        grid-template-columns: 2fr 3fr 2fr 3fr 4fr;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 575.98px) {
  .changePasswordPage .row .commonCol #modal-forgot-password .contentModal h2 {
    font-size: 28px;
  }
  .changePasswordPage .row .commonCol #modal-forgot-password #modal_change_pas .email-new-pswrd input {
    padding: 23px 24px 23px 60px;
  }
  .changePasswordPage .row .commonCol #modal-forgot-password #modal_change_pas .ask_new_pswrd .send-btn {
    padding: 23px 53px;
  }
}

@media screen and (max-width: 424.98px) {
  .mainBack {
    background: url(../images/page1/Vector.png) left -135px top 85px, url(../images/page1/Vector_right.png) right -57px top 546px, -webkit-gradient(linear, left top, left bottom, from(#2a1133), to(#381a42));
    background: url(../images/page1/Vector.png) left -135px top 85px, url(../images/page1/Vector_right.png) right -57px top 546px, linear-gradient(180deg, #2a1133 0%, #381a42 100%);
    background-size: 75%, 47%, cover;
    background-repeat: no-repeat;
  }
  .changePasswordPage .row .commonCol #modal-forgot-password #modal_change_pas .email-new-pswrd input {
    max-width: 285px;
    padding: 23px 23px;
  }
  .changePasswordPage .row .commonCol #modal-forgot-password #modal_change_pas .ask_new_pswrd .send-btn {
    max-width: 285px;
    padding: 23px 35px;
  }
}

@media screen and (max-width: 374.98px) {
  .mainBack .mainContent {
    max-width: 295px;
    width: 100%;
    margin: 0 auto;
  }
  .mainBack .mainContent .first-text {
    font-size: 30px;
    margin-top: 20px;
  }
  .mainBack .infoHeader .register p {
    margin-right: 0px;
    margin-top: 30px;
  }
  .mainBac .login_form {
    max-width: 295px;
    width: 100%;
    margin: 0 auto;
  }
  .mainBack .login_form .enter-email input {
    padding: 23px 54px 23px 70px;
    max-width: 295px;
    font-size: 12px;
  }
  .mainBack .login_form .enter-password input {
    padding: 23px 130px 23px 70px;
    max-width: 295px;
    font-size: 12px;
  }
  .mainBack .login_form .enter-btn {
    padding: 23px 122px;
    max-width: 295px;
  }
  .mainBack footer .footer-info {
    -ms-grid-columns: 2fr 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr 2fr;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mainBack footer .footer-info li:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 10px;
  }
  .mainBack footer .footer-info li:nth-child(6) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mainBack footer .footer-info li:nth-child(7) {
    margin-bottom: 10px;
  }
  .mainBack footer .footer-info {
    padding-bottom: 15px;
  }
  .mainBack {
    background: url(../images/page1/Vector.png) left -135px top 85px, url(../images/page1/Vector_right.png) right -57px top 546px, -webkit-gradient(linear, left top, left bottom, from(#2a1133), to(#381a42));
    background: url(../images/page1/Vector.png) left -135px top 85px, url(../images/page1/Vector_right.png) right -57px top 546px, linear-gradient(180deg, #2a1133 0%, #381a42 100%);
    background-size: 75%, 47%, cover;
    background-repeat: no-repeat;
  }
}
/*# sourceMappingURL=style.css.map */